extends layout

block content
    h3.pageTitle 请填写记事内容
    form.addpost(action="./#{postId}", method="get")
        p.postname
            label(for="postname") 标题：
            input.posttext(type="text", id="postname", name="postname", placeholder="标题必填", value="#{data.posttitle}")
        p.postbox
            label(for="postcon") 事件内容：
            textarea.postcon(id="postcon", name="postcon", placeholder="必填，请勿填写非法脚本") #{data.postcontent}
        p.postsub
            input.btn.btn-primary.postbtn(type="submit", value="修改")
            input.btn(type="reset", value="重置")
    